body,html{
    margin:0;
    background-color: cadetblue;
    height: 100%;
}

.portal{
    width: 100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    height: auto;
    width: 100%;
    background-color:cornflowerblue;
    text-align:center;
    align-content:center;
}

iframe {
    height: 100%;
    width: 100%;
}
.content{
    height: 90%;
    width: 100%;
    background-color:rebeccapurple;
}
.opcja{
    color:red;
}



/*Do strony logowanie.php*/

.okno_logowania{
    text-align: center;
    color:black;
    background-color: crimson;
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    height:20%;
}


.przycisk_log{
    background-color: darkslategray;
    border:2px;
    border-style: dotted;
    width: 40%;
}

.error_m{
    color:orangered;   
}


/*Do strony panel_adm.php*/
.nav{
    text-align: center;
    border-collapse:collapse;
}
.tabel_adm{
    color:black;
    text-align: center;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.td_gl{
    text-align: center;
}




